
build/
*.o
*.exe
*.so
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

.vscode/
*.code-workspace

*.tmp
*.log
.DS_Store  # macOS
Thumbs.db  # Windows

/mnt/c/
*.swp
*.swo

deps/
vendor/

!.gitignore